    /* Colours */
    $color-primary: #3eb0ef;
    $color-base: #15171A;
    $color-secondary: #5B7A81;
    $color-border: #c7d5d8;
    $color-bg: #f5f5f5;

    /* Fonts */
    @font-face {
      font-family: "GT Walsheim Bold";
      src: url("/fonts/gt-walsheim-bold.woff2") format("woff2");
    }
    @font-face {
      font-family: "Helvetica Neue";
      src: url("/fonts/HelveticaNeue_gdi.woff2") format("woff2");
    }

    $font-sans-serif: "Helvetica Neue", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", sans-serif;
    $font-serif: Georgia, Times, serif;
    $font-mono: Menlo, Courier, monospace;
    $font-heading: "GT Walsheim Bold", sans-serif;
    $font-light: 100;
    $font-normal: 400;
    $font-bold: 700;
    $font-heavy: 800;
    $font-size-nav: 20px;

    /* Sizes */
    $height: 4rem;
    $margin: 2rem;
    $radius: 0.6rem;
    $nav-radius: 3px;

    $trans-link: 0.3s ease-in;
